langchain
streamlit
# python-magic-bin
unstructured
unstructured[pdf]
pypdf
# openai
chromadb
# tiktoken
sentence-transformers
langchain-community
langchain-openai
langchain-huggingface
langchain-ollama